@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

#seleciona-linguagem {
    display: flex;
    list-style-type: none;
    margin: 0.5rem;
    & li {
        padding: 0 1rem 0 0;
    & input {
        display: none;
    }
    & label > img {
        border-radius: 50%;
        width: 2em;
        padding: 0.25rem;
        cursor: pointer;
        &:hover {
            transform: translate(-1px, -1px);
        }
    }  

    & input[type="radio"]:checked + label > img {
        border: 0.3px solid rgb(0, 17, 255);
    }  
    }
}

#nome-titulo {
    display: block;
    text-align: center;
    font-family: 'MuseoModerno', Verdana, sans-serif;
    font-size: 2.2em;
    margin-top: 1em;
}

.descricao-titulo > p {
    text-align: center;
    font-family: 'Dosis', Cambria, 'Times New Roman', serif;
    font-size: 1.2em;
}

#uepg-ref {
    text-decoration: none;
    color: black;
}

#uepg-ref::after {
    content: '\1F517';
}

#uepg-ref:hover {
    color: rgb(12, 47, 82);
    text-decoration: underline;
    font-size: 1.01em;
}

#redes-sociais {    
    display: block;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

#redes-sociais img {
    border-radius: 50%;
    max-width: 6em;
    margin: 1em;
}

#redes-sociais img:hover {
    border: 1px solid rgba(0, 0, 0, 0.411);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    transform: translate(-2px, -2px);
}
