@charset "UTF-8";

@media screen and (max-height: 780px) {
    #nome-titulo {
        padding-top: 0.5em;
        display: block;
        text-align: center;
        font-family: 'MuseoModerno', Verdana, sans-serif;
        font-size: 3em;
    }

    .descricao-titulo {
        font-size: 1.5em;
    }

    #redes-sociais img {
        width: 70px;
    }

}

@media screen and (max-width: 585px) {
    #nome-titulo {
        padding-top: 0.25em;
        font-size: 3em;
        margin: 1px;
    }

    .descricao-titulo {
        font-size: 1.5em;
    }

    #redes-sociais {
        margin-top: 2em;
        margin-left: 2em;
        display: inline-block;
    }

    #redes-sociais img {
        width: 100px;
        margin: 1.5em;
    }

    @keyframes moverForma3 {
        from {
            transform: translateX(-1600px);
            transform: scaleX(2);
        }
    }
}