@charset "UTF-8";

@media screen and (max-height: 780px) {
    #nome-titulo {
        padding-top: 0.5em;
        display: block;
        text-align: center;
        font-family: 'MuseoModerno', Verdana, sans-serif;
        font-size: 3em;
    }

    .descricao-titulo {
        font-size: 1em;
    }

    #redes-sociais img {
        width: 70px;
    }

}